body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

.row title{
    background-image: url("photos/ricky-martinez-7337.jpg");
}

.cover-photo{
    background: url("photos/ricky-martinez-7337.jpg") no-repeat center 0px fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover{
    padding-top: 200px;
    padding-bottom: 200px;
}

.nav-link{
    color: white;
    font-weight: 500;
    font-size: large
}

.bio{
    padding-bottom: 300px;
}