body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

/* .row title{
    background-image: url("photos/ricky-martinez-7337.jpg");
} */

.cover-photo{
    background: url("photos/ricky-martinez-7337.jpg") no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.cover{
    padding-top: 200px;
    padding-bottom: 200px;
}

.nav-link{
    color: white;
    font-weight: 500;
    font-size: large
}
/* 
.bio{
    padding-bottom: 300px;
} */

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.card-text{
    color: transparent
}

.cover{
    color:transparent
}

.disabled{
    pointer-events: none;
  }

.cover-footer{
    pointer-events: none;
    color:transparent
}

.cover-btn{
    background-color: transparent;
}

.title-name{
    font-size: 48px;
    margin-left: 8px;
    margin-top: 15px;
}

.actor-cover{
    margin-left: 10px;
}

/* .nav{
    color: transparent
} */